.container{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
   
    background-color:  whitesmoke;
}
.card{
    width: 770px;
    height: 250px;
    background-color: white;
    margin-top: 20px;

}
h5{
    padding-top: 10px;
    padding-left: 10px;
}
p{
    padding-left: 10px;
 
}
#author{
    font-weight: 500;
}
#date{
    color: gray;
}