<div class="info">
    <h1>Vehicle Details</h1>
<img src="{{vehicle.image}}"  width="300px" height="200px">
<h3><label for="">Car-Name: </label>  {{ vehicle.Vehicle}}</h3>
<h3><label for="">Car-Manufacturer: </label>  {{ vehicle.manufacturer}}</h3>
<h3><label for="">Car-Model: </label>   {{ vehicle.model}}</h3>
<h3><label for="">Car-Type: </label>   {{ vehicle.type}}</h3>
<h3><label for="">Car-Fuel: </label>    {{ vehicle.fuel}}</h3>
<h3><label for="">Car-Price: </label>   {{vehicle.cost}}</h3>
</div>