
<form action="">
    <h1>Create Student ID</h1>
    <label for="">Student Name:</label><br>
    <input type="text" formControlName="name" placeholder="Enter Your Name"><br>
    <label for="">City:</label><br>
    <input type="text" formControlName="city" placeholder="Enter Your City"><br>
    <label for="">DOB:</label><br>
    <input type="text" formControlName="dob" placeholder="Enter Your DOB"><br>
    <label for="">Profile Picture:</label><br>
    <input type="text" formControlName="profile_picture" placeholder="Enter Your Profile Picture"><br>
    <label for="">Phone.no:</label><br>
    <input type="number" formControlName="phone" placeholder="Enter Your Phone number"><br>
    <label for="">Email:</label><br>
    <input type="text" formControlName="email" placeholder="Enter Your Mail"><br><br>
    <button class="btn btn-info" (click)="create()">Submit</button>
</form>
