<h1>Create User</h1>
<form action="" [formGroup]="userForm">
    <label for="">Name:</label>
    <input type="text" formControlName="name"><br>
    <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
        <p *ngIf="userForm.get('name')?.errors?.['required']">Name is required</p>

    </div>

    <label for="">Email:</label>
    <input type="email" formControlName="email"><br>
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
        <p *ngIf="userForm.get('email')?.errors?.['required']">Email is required</p>
        <p *ngIf="userForm.get('email')?.errors?.['email']">Email is required</p>
        <p *ngIf="userForm.get('email')?.errors?.['tcsMail']">Only TCS Mail accepted</p>


    </div>

    <label for="">Password:</label>
    <input type="password" formControlName="password"><br>
    <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
        <p *ngIf="userForm.get('password')?.errors?.['required']">Password is required</p>
        <p *ngIf="userForm.get('password')?.errors?.['minlength']">Password must be minimum 6 letters</p>
        <p *ngIf="userForm.get('password')?.errors?.['maxlength']">Password must be maximum 10 letters</p>

    </div>
    <label for="">Mobile:</label>
    <input type="number" formControlName="mobile"><br>
    <div *ngIf="userForm.get('mobile')?.invalid && userForm.get('mobile')?.touched">
        <p *ngIf="userForm.get('mobile')?.errors?.['required']">Mobile.no is required</p>
        <p *ngIf="userForm.get('mobile')?.errors?.['min']">Mobile.no  start with 6</p>
        <p *ngIf="userForm.get('mobile')?.errors?.['max']">Mobile.no  must be maximum 10 digits</p>

    </div>
    <div formGroupName="address">
        <label for="">Village</label>
        <input type="text"  formControlName="village"> <br>
        <label for="">District</label>
        <input type="text" formControlName="district"> <br>

        <label for="">State</label>
        <input type="text"  formControlName="state"> <br>

        <label for="">Pincode</label>
        <input type="number"  formControlName="pincode"> <br>

        

    </div>
    <label for="">Type:</label>
    <input type="radio" name="type" formControlName="type" value="dayscholar">
    <label for="">Dayscholar</label>
    <input type="radio" name="type" formControlName="type" value="hostel">
    <label for="">Hostel</label><br>
    <div *ngIf="userForm.get('type')?.value=='dayscholar'">
        <label for="">Bus Fee:</label>
        <input type="number" formControlName="busfee"><br>
    </div>
    <div *ngIf="userForm.get('type')?.value=='hostel'">
        <label for="">Hostel Fee:</label>
        <input type="number" formControlName="hostelfee"><br>
    </div>

    <button (click)="addcard()">Add Card</button>
    <div formArrayName="cards">
        <div  *ngFor="let card of cardFormArray.controls; let i=index" >
            <div formGroupName="{{i}}">
                <h2>card{{i+1}}</h2>
                <label for="">Number:</label>
                <input type="number" formControlName="number"><br>
                <label for="">Expiry::</label>
                <input type="month" formControlName="expiry"><br>
                <label for="">CVV:</label>
                <input type="number" formControlName="cvv"><br>
                <button (click)="delete(i)">Delete Card</button>
            </div>

        </div>
    </div>
    








    <button (click)="create()">submit</button>
</form>
