<h1>Vehicles</h1>
<input type="text" name="" id="" [(ngModel)]="term" (keyup)="filter()"> 
<select  [(ngModel)]="column">
    <option>Vehicle</option>
    <option >manufacturer</option>
    <option >model</option>
    <option >type</option>
    <option >fuel</option>
    <option >cost</option>
</select>
<select  [(ngModel)]="order">
    <option >asc</option>
    <option >desc</option>
</select>
<button class="btn btn-primary" (click)="sort()">Sort</button>
<table class="table table-dark table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>S no</th>
            <th>Vehicle</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles,let i=index">
            <td>{{i+1}}</td>
            <td>{{ vehicle.Vehicle}}</td>
            <td>{{ vehicle.manufacturer}}</td>
            <td>{{ vehicle.model}}</td>
            <td>{{ vehicle.type}}</td>
            <td>{{ vehicle.fuel}}</td>
            <td>{{vehicle.cost}}</td>

        </tr>
    </tbody>
</table>
