form{
    width: 800px;
    height: 1200px;
    background-color: black;
    color:aqua;
    text-align: center;
    padding-top: 30px;
  margin-left: 110px;
  margin-top: 25px;
    
}
input{
  width: 300px;
}
.radio{
  width: 50px;
}
h1{
  padding-bottom: 15px;
  color: white;
  text-shadow: 
  0 0 30px cyan,
  0 0 30px cyan,
  0 0 30px cyan,
  0 0 30px cyan;

}
label{
  color: white;
  text-shadow: 
  0 0 10px cyan,
  0 0 10px cyan,
  0 0 10px cyan,
  0 0 10px cyan;

}
button{
  color: red;
  text-shadow: 
  0 0 10px cyan,
  0 0 10px cyan,
  0 0 10px cyan,
  0 0 10px cyan;
}
p{
 
  /* border: 1px solid red; */
  color: red;
  text-shadow: 
  0 0 10px cyan,
  0 0 10px cyan,
  0 0 10px cyan,
  0 0 10px cyan;
}