<div class="info">
  <aside>
    <h5>    school logo: <img src="{{student.school_logo}}" alt=""  width="300px" height="200px"><br><br>
    </h5>
    <h5><label for="">School-Name: </label>  {{ student.school_name}}</h5>
    <h5><label for="">School-city: </label>  {{ student.school_city}}</h5>
    <h5><label for="">School-pin: </label>  {{ student.school_pin}}</h5>
  </aside>
  <main>
    <h5>
        profile_picture: <img src="{{student.profile_picture}}" alt=""  width="300px" height="200px"> <br><br>

    </h5>
    <h5><label for="">Name: </label> {{student.name}}</h5>
    <h5><label for="">PHONE: </label>  {{ student.phone}}</h5>
    <h5><label for="">DOB: </label>  {{ student.dob}}</h5>
    <h5><label for="">CITY: </label>  {{ student.city}}</h5>
    <h5><label for="">EMAIL: </label>  {{ student.email}}</h5>



  </main>

</div>
